<form class="form" action="">
  <p class="form-title">Ingresa a tu cuenta</p>
  <div class="input-container">
    <input type="email" placeholder="tuemail@mail.com">
    <span>
    </span>
  </div>
  <div class="input-container">
    <input type="password" placeholder="***************">
  </div>
  <button type="submit" class="submit">
    Ingresar
  </button>

  <p class="signup-link">
    ¿No tienes una cuenta?
    <a href="#">Registrarse</a>
  </p>
</form>